.footer {
    background-color: $lightGray;
    padding: 6rem 0 1rem 0;

    .footer-content {
        margin: 0 auto;
        text-align: center;

        h5 {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-family: $secondaryFont;
            font-weight: 400;
            overflow: hidden;

            .footer-content-start {
                display: inline-block;
                
            }
    
            .footer-content-together {
                display: inline-block;

                font-size: 3.125rem;
                font-weight: 700;
            }

        }

        .footer-content-bar {
            width: 46px;
            height: 3px;
            margin: .85rem auto 2rem auto;
            background-color: $yellow;
            transform-origin: 0% 0%;
        }
    
        p {
            
            &:first-of-type {
                margin-bottom: 1.563rem;
            }
    
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 1.15;
            color: $lightBlack;
        }

        .footer-content-socials {
            color: $brown;

            a {
                display: inline-block;
                font-size: 1.375rem;
                color: $brown;
                margin: 0 .75rem;

                &:first-of-type {
                    margin-right: 0.75rem;
                }

                &:last-of-type {
                    margin-left: 0.75rem;
                }

            }
        }
    
        address {
            font-size: 1.375rem;
            font-weight: 400;
            font-style: normal;
            line-height: 1.25;
            color: $lightBlack;
        }
    
        .copyright {
            margin-top: 2.5rem;
            font-size: 1rem;
            color: $lightBlack;
            
            .copyright-heart {
                color: $brown;
            }

            a {
                color: $lightBlack;
                text-decoration: none;
            }
        }
    }
}