.homeAbout {
    padding: 12rem 0;

    .homeAbout-blurb {
        margin: 0 15%;

        h4 {
            font-size: 3.125rem;
            font-family: $secondaryFont;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 700;
            color: $black;
            overflow: hidden;

            span {
                display: inline-block;
            }
        }

        p {
            font-size: 1.375rem;
            color: $lightBlack;
            width: 90%;
        }
    }

    .homeAbout-img {
        margin: 5rem auto 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;

        .homeAbout-img--proto {
            position: relative;
            width: 40%;
            height: auto;
            transform: translateY(-200px);
            z-index: 2;
            align-self: flex-start;
            margin: 0;
            overflow: hidden;

            &:hover {
                z-index: 1;
            }
        }

        .homeAbout-img--design {
            position: relative;
            height: auto;
            width: 65%;
            align-self: flex-end;
            overflow: hidden;

            &:hover {
                z-index: 2;
            }
        }

        .reveal-about--mask {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $white;
            top: -100%;
            left: 0;
            transform-origin: 100% 100%;
        }
    }

    .about-transform {
        margin: 0 15%;

        font-size: 3.125rem;
        font-weight: 400;
        color: $black;

        p {
            overflow: hidden;
            margin: 0;
            padding: 0;
            
            span {
                display: inline-block;
                transform: translateY(0);
            }
        }

        a {
            display: inline-block;
            color: $black;
            transition: .35s ease-in;

            &:hover {
                color: $brown;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 1199px) and (max-width: 1449px) {
    .homeAbout {
        padding: 10rem 0 !important;

        .homeAbout-blurb {
            h4 {
                font-size: 3rem !important;
            }
    
            p {
                font-size: 1.275rem !important;
            }
        }

        .about-transform {
            font-size: 3rem !important;
        }
    }
}

@media only screen and (max-width : 1200px) {
    .homeAbout {

        .homeAbout-blurb {
            h4 {
                font-size: 2.8rem !important;
            }
    
            p {
                font-size: 1.175rem !important;
            }
        }

        .about-transform {
            font-size: 2.5rem !important;
        }
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .homeAbout {

        .homeAbout-blurb {
            h4 {
                font-size: 2.6rem !important;
            }
    
            p {
                font-size: 1.075rem !important;
            }
        }

        .about-transform {
            font-size: 2rem !important;
        }

        .homeAbout-img {
            .homeAbout-img--proto {
                transform: translateY(-150px) !important;
            }
        }
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .homeAbout {
        .homeAbout-blurb {
            h4 {
                font-size: 2.4rem !important;
            }
    
            p {
                font-size: 0.975rem !important;
            }
        }

        .about-transform {
            font-size: 1.25rem !important;
        }

        .homeAbout-img {
            .homeAbout-img--proto {
                transform: translateY(-100px) !important;
            }
        }
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .homeAbout {
        .homeAbout-blurb {
            h4 {
                font-size: 2.3rem !important;
            }
    
            p {
                font-size: 0.875rem !important;
            }
        }

        .about-transform {
            font-size: 1.5rem !important;
        }
    }
}