.homeHeader {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url(../images/bg-home.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;

    .btn--contact {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: 0;
        padding: 2rem 1.688rem;

        font-size: 1rem;
        color: $white;
        background-color: $lightBlack;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;

        .btn--contact-arrow {
            font-size: 2rem;
            margin-left: 1rem;
        }

        &::before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 100%;
            background-color: $brown;
            transition: .55s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
    }
}

.banner {
    position: relative;
    display: grid;
    grid-template-columns: 15% 1fr 15%;

    width: 100%;
    height: 100vh;

    .left {
        display: flex;
        justify-content: center;
        position: relative;

        .left-adj {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(-90deg);
            color: $white;
            font-weight: 400;
            font-size: 1rem;

            .left-adj--rect {
                display: inline-block;
                width: 44px;
                height: 1px;
                background-color: $white;
                margin: 0 1rem;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        color: $white;

        .contentTitle {
            display: flex;
            overflow: hidden;

            .contentTitle-bar {
                display: inline-block;
                width: 2px;
                height: auto;
                background-color: $white;
                transform-origin: 0% 0%;
            }
        }

        h2 {
            padding-left: 2.5rem;

            font-size: 3.125rem;
            text-transform: uppercase;
            font-family: $secondaryFont;
            font-weight: 400;
            line-height: 1.25;

            overflow: hidden;

            span {
                display: inline-block;
            }
        }

        h1 {
            font-size: 1.35rem;
            letter-spacing: 2px;
            font-weight: 400;

            width: 60%;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        .btn {
            color: $white;
            display: flex;
            align-items: center;

            .arrow {
                font-size: 2rem;
                margin-left: 1rem;
            }
        }
    }

    .right {
        position: relative;
        display: flex;
        justify-content: center;

        .nav {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 140px;

            &::before {
                position: absolute;
                content: 'Menu';
                color: $white;
                font-family: $primaryFont;
                top: 50%;
                left: -100%;
                margin-left: -2.75rem;
                transform: translateY(-50%);
                letter-spacing: 2px;
                margin-bottom: 0;
                padding: 0;
                height: auto;
                font-size: 1rem;
            }

            button.open {
                display: flex;
                align-items: center;
                width: 35px;
                height: 40px;
                border: none;
                background: transparent;
                outline: none;
                margin: 0;
                padding: 0;

                cursor: pointer;
                overflow: hidden;

                span {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: $white;
                    transition: .35s;
                
                    &.nav--bar-mr, &.nav--bar-ml {
                        width: 40%;
                    }

                    &.nav--bar-mr {
                        margin-right: 20%;
                    }

                    &::before, &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 2px;
                        background-color: $white;
                        transition: .35s;
                    }

                    &::before {
                        transform: translateY(-7px);
                    }   

                    &::after {
                        transform: translateY(7px);
                    }
                }

                &:hover {
                    .nav--bar-mr, .nav--bar-ml {
                        width: 50%;
                        background-color: $brown;

                        &::before, &::after {
                            background-color: $brown;
                        }
                    }

                    .nav--bar-mr {
                        margin-right: 0;
                    }
                }
            }
        }

        .right-socials {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(90deg);

            display: flex;
            justify-content: center;
            align-items: center;

            span {
                width: 44px;
                height: 1px;
                background-color: $white;
                margin: 0 1rem;
            }

            a {
                font-size: 1rem;
                color: $white;
                font-weight: 400;
                letter-spacing: 2px;
                text-decoration: none;
                transition: .35s;

                &:hover {
                    color: $brown;
                }
            }

        }
    }

    &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 125px;
        background-color: $brown;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 0;
        background-color: $white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: barScrollAnim 1.75s infinite ease-in-out;
    }
}

@keyframes barScrollAnim {
    0% {
        height: 0;
    }

    25% {
        height: 125px;
    }

    100% {
        height: 0;
    }
}


/** +=RESPONSIVE **/
@media (min-width: 1199px) and (max-width: 1449px) {
    .banner {
        .left-adj,
        .nav::before,
        .right-socials a {
            font-size: 0.95rem !important;
        }

        .content {
            h2 {
                font-size: 3rem !important;
            }

            h1 {
                font-size: 1.25rem !important;
            }
        }
    }

    .btn--contact {
        font-size: 0.95rem !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
    .banner {
        .left-adj,
        .nav::before,
        .right-socials a {
            font-size: 0.90rem !important;
        }

        .content {
            h2 {
                font-size: 2.9rem !important;
            }

            h1 {
                font-size: 1.15rem !important;
                width: 75% !important;
            }
        }
    }

    .btn--contact {
        font-size: 0.9rem !important;
        padding: 1.75rem 1.2rem !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .banner {
        .left-adj {
            display: none !important;
        }

        .content {
            h2 {
                font-size: 2rem !important;
                padding: 0 !important;
            }

            h1 {
                width: 75% !important;
                font-size: 1rem !important;
                margin-top: 1.5rem !important;
                margin-bottom: 1.5rem !important;
            }

            .contentTitle-bar {
                width: 0 !important;
            }
        }
    }

    .btn--contact {
        font-size: 0.85rem !important;
        padding: 1.388rem 1.1rem !important;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .banner {

        &::after, &::before {
            display: none !important;
        }

        .left {
            justify-content: flex-end !important;
            
            .left-adj {
                display: none !important;
            }
        }

        .right {
            .right-socials {
                display: none !important;
            }

            .nav {
                height: 100px !important;

                &::before {
                    font-size: 0.9rem !important;
                }

                button {
                    width: 32px !important;
                }
            }
        }

        .content {
            h2 {
                font-size: 1.85rem !important;
                padding: 0 !important;
            }

            h1 {
                width: 90% !important;
                font-size: 1rem !important;
                margin-top: 1.5rem !important;
                margin-bottom: 1.5rem !important;
                font-family: $primaryFont !important;
                line-height: 1.3 !important;
            }

            .contentTitle-bar {
                width: 0 !important;
            }
        }
    }

    .btn--contact {
        font-size: 0.8rem !important;
        padding: 1.288rem 1rem !important;

        img {
            width: 1.1rem;
        }
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .banner {
        .content {
            h2 {
                font-size: 1.45rem !important;
                line-height: 1.2 !important;
                letter-spacing: 1px !important;
            }

            h1 {
                width: 100% !important;
                font-size: 0.8rem !important;
                margin-top: 1.25rem !important;
                margin-bottom: 1.25rem !important;
                line-height: 1.2rem !important;
                font-family: $primaryFont !important;
            }
        }

        .right {
            justify-content: flex-start !important;

            .nav {
                height: 90px !important;

                &::before {
                    font-size: 0.8rem !important;
                }

                button {
                    width: 30px !important;
                }
            }
        }
    }

    .btn--contact {
        font-size: 0.6rem !important;
        padding: 1.05rem 0.85rem !important;

        img {
            width: 0.9rem;
        }

        .btn--contact-arrow {
            margin-left: 0.65rem !important;
        }
    }
}

