.aboutHeader {
    display: grid;
    grid-template-columns: 15% 1fr 15%;

    width: 100%;
    height: 80vh;

    .left {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .right {
        position: relative;
        display: flex;
        justify-content: center;

        nav {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 140px;

            &::before {
                position: absolute;
                content: 'Menu';
                color: $black;
                font-family: $primaryFont;
                top: 50%;
                left: -100%;
                margin-left: -2.75rem;
                transform: translateY(-50%);
                letter-spacing: 2px;
                margin-bottom: 0;
                padding: 0;
                height: auto;
                font-size: 1rem;
            }

            button.open {
                display: flex;
                align-items: center;
                width: 35px;
                height: 40px;
                border: none;
                background: transparent;
                outline: none;
                margin: 0;
                padding: 0;

                cursor: pointer;
                overflow: hidden;

                span {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: $black;
                    transition: .35s;
                
                    &.nav--bar-mr, &.nav--bar-ml {
                        width: 40%;
                    }

                    &.nav--bar-mr {
                        margin-right: 20%;
                    }

                    &::before, &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 2px;
                        background-color: $black;
                        transition: .35s;
                    }

                    &::before {
                        transform: translateY(-7px);
                    }   

                    &::after {
                        transform: translateY(7px);
                    }
                }

                &:hover {
                    .nav--bar-mr, .nav--bar-ml {
                        width: 50%;
                        background-color: $brown;

                        &::before, &::after {
                            background-color: $brown;
                        }
                    }

                    .nav--bar-mr {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        color: $black;

        h1 {
            font-size: 3.125rem;
            overflow: hidden;

            span {
                display: inline-block;
            }
        }
    }
}

.aboutContent {
    .who {
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        width: 100%;

        .who-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .who-content-img {
                width: 45%;

                figure {
                    margin: 0;
                    padding: 0;
                }
            }

            .who-content-desc {
                width: 50%;

                h2 {
                    font-size: 1.375rem;
                    font-weight: 700;
                    margin-bottom: 1.75rem;
                }

                p {
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $lightBlack;

                    strong {
                        font-weight: 400;
                    }
                }
            }
        }

        .who-socials {
            position: relative;
            display: flex;
            justify-content: center;
            
            .who-socials-right {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0) rotate(90deg);

                span {
                    width: 44px;
                    height: 1px;
                    background-color: $black;
                    margin: 0 1rem;
                }
    
                a {
                    font-size: 1rem;
                    color: $black;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-decoration: none;
                    transition: .35s;
    
                    &:hover {
                        color: $brown;
                    }
                }
            }
        }
    }

    .what {
        margin-bottom: 12.5rem;

        .what-blurb {
            margin: 12.5rem 15% 5rem 15%;
        }

        h2 {
            font-size: 1.375rem;
            font-weight: 700;
            margin-bottom: 1.75rem;
        }

        p {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5;
            color: $lightBlack;

            a {
                color: $lightBlack;
            }
        }

        .what-img-content {
            display: flex;
            justify-content: space-between;
            margin-left: 15%;

            .what-img--left {
                width: 45%;
                height: 700px !important;
                margin: 0;

                .gatsby-image-wrapper {
                    height: 100%;
                }
            }

            .what-img--right {
                width: 50%;

                .what-img--wp {
                    height: 400px;

                    margin-bottom: 8rem;
                }

                .what-img--digital {
                    width: 70%;
                    height: 500px
                }
            }
        }
    }
}