.aboutHeader {
    display: grid;
    grid-template-columns: 15% 1fr 15%;

    width: 100%;
    height: 80vh;

    &.pageHeader {
        height: 75vh;
    }

    .left {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .right {
        position: relative;
        display: flex;
        justify-content: center;

        nav {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 140px;

            &::before {
                position: absolute;
                content: 'Menu';
                color: $black;
                font-family: $primaryFont;
                top: 50%;
                left: -100%;
                margin-left: -2.75rem;
                transform: translateY(-50%);
                letter-spacing: 2px;
                margin-bottom: 0;
                padding: 0;
                height: auto;
                font-size: 1rem;
            }

            button.open {
                display: flex;
                align-items: center;
                width: 35px;
                height: 40px;
                border: none;
                background: transparent;
                outline: none;
                margin: 0;
                padding: 0;

                cursor: pointer;
                overflow: hidden;

                span {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: $black;
                    transition: .35s;
                
                    &.nav--bar-mr, &.nav--bar-ml {
                        width: 40%;
                    }

                    &.nav--bar-mr {
                        margin-right: 20%;
                    }

                    &::before, &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 2px;
                        background-color: $black;
                        transition: .35s;
                    }

                    &::before {
                        transform: translateY(-7px);
                    }   

                    &::after {
                        transform: translateY(7px);
                    }
                }

                &:hover {
                    .nav--bar-mr, .nav--bar-ml {
                        width: 50%;
                        background-color: $brown;

                        &::before, &::after {
                            background-color: $brown;
                        }
                    }

                    .nav--bar-mr {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        color: $black;

        h1 {
            font-size: 3.125rem;
            overflow: hidden;

            span {
                display: inline-block;
            }
        }
    }
}


/* Large Devices, Desktops */
@media (min-width: 1199px) and (max-width: 1449px) {
    .aboutHeader {
        .content {
            h1 {
                font-size: 3rem !important;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
    .aboutHeader {
        .content {
            h1 {
                font-size: 2.35rem !important;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .aboutHeader {
        .content {
            h1 {
                font-size: 1.875rem !important;
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .aboutHeader {
        .content {
            h1 {
                font-size: 1.45rem !important;
            }
        }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .aboutHeader {
        height: 60vh !important;

        .content {
            h1 {
                font-size: 1.05rem !important;
                line-height: 1.5rem;
                letter-spacing: 1px !important;
                text-align: justify;
            }
        }
    }
}